<mat-toolbar color = "primary">
    <span>Clime`</span>
</mat-toolbar>
<mat-toolbar color = "primary" class="links">
    <span><i class="fas fa-3x fa-cloud cloud"></i></span>
    <a mat-button routerLink = './home' routerLinkActive = 'active' ><span></span>Home</a>
    <a mat-button routerLink = "#"><span></span>About</a>
    <a mat-button routerLink = './search-for-coods' routerLinkActive = 'active'><span></span>Search for Coordinates</a>
    <a mat-button href="#"><span></span>Contact us</a>
    <span class="flex-spacer"></span>
    <!-- <a mat-button href="#"><span class="fa fa-sign-in fa-lg"></span>Login</a> -->
</mat-toolbar>

<div class="container-fluid">

    <div fxFlex fxFlex.gt-sm="50%">
        <h1>Clime</h1>
        <p>We measure to serve correct!, We take inspiration from free and trusted weather sources to get and serve data</p>
    </div>
    <div  fxFlex fxFlex.gt-sm="20%" class="img-size">
        <i class="fas fa-3x fa-cloud cloud"></i>
    </div>
</div>
