<div>
    <span>Clime`</span>
</div>
<div>
    <span><i class="fas fa-3x fa-cloud cloud"></i></span>
    <a routerLink = './home' routerLinkActive = 'active' ><span></span>Home</a>
    <a routerLink = './about' routerLinkActive = 'active'><span></span>About</a>
    <a href="#"><span></span>Contact us</a>
    <a href="#"><span></span>Login</a>
</div>
<div>
    <div>
        <h1>Clime</h1>
        <p>We measure to serve!, We take inspiration from bla bla bla</p>
    </div>
    <div>
        <i class="fas fa-3x fa-cloud cloud"></i>
    </div>
</div>
