<div class="footer">
    <div>
        <div>
            <div>
                <h4>Links</h4>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div>
                <h4>Our Address</h4>
                <address >
                    129/404, Sam valley<br> xyz India <br>INDIA<br>
                    <i>:001100223</i><br>
                    <i>:112299003</i>:
                    <a href="mailto:clime@weather.net">clime@weather.net</a>
                </address>
            </div>
            <div>
               <p>© Copyright 2020 Clime</p> 
            </div>
        </div>
    </div>
</div>
