/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{ margin-left: 65px;}
}
.cloud{
    color: white;
    filter: drop-shadow(1px 1px 5px white);    
}
 body{
     background-image: url("./assets/jeremy-bishop-GNgB1KtBRJM-unsplash.jpg");
     background-repeat: no-repeat;
     background-image: cross-fade(0.6);
     background-size: cover;
     -o-background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
}
a, button, input{
    text-decoration: none;
    outline: 0 none;
}
a:hover{
    text-decoration-color: white;
}
input{
    opacity: 0.5;
    text-align: center;
    border-radius: 1.5pt;
    border-style: none;
    padding:6px;
}