<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

     <mat-card fxFlex>
    <div id="divWeatherMain">
        <div class="weatherrow" *ngIf = "weatherData.isDay">
            <i class="fas fa-3x fa-sun sun"></i>
        </div>
        <div class="weatherrow"  *ngIf = "!weatherData.isDay">
            <i class="fas fa-3x fa-moon moon"></i>
        </div>
        <div class="weatherrow cloudDiv">
            <i class="fas fa-3x fa-cloud cloud"></i>
        </div>
        <div class="weatherrow" style="font-size: 32px; margin-top: 5px;"> {{weatherData.temp_celcius}}° </div>
        <div class="weatherrow" style="font-size: 12px;"> {{weatherData.temp_min}} ° / {{weatherData.temp_max}} ° </div>
        <div class="weatherrow" style="font-size: 12px;"> Feels like: {{weatherData.temp_feels_like}} ° </div>
        <div class="weatherrow" style="font-size: 25px; margin-top: 10px;"> {{weatherData.name}} </div>
        <div class="weatherrow" style="font-size: 12px;">Humidity: {{weatherData.main.humidity}}% </div>
    
    </div>
    </mat-card>
</div>
