#divWeatherMain{
    display:block;
    border-radius:10px;
    width: 400px;
    height: 420px;
    background: rgb(0,0,0);
    background: linear-gradient(190deg, pink, #512DA8);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weatherrow{
    display: block;
    margin: 0 auto;
    width: fit-content;
}
.sun{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}
.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
}
.cloud{
    color: rgb(104, 175, 197);
    filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.cloudDiv{
    margin-top: -40px;
}
.button button{
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #512DA8;
    color: white;
    
}
.active{
    background: #9575CD;
}
@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{ margin-left: 65px;}
}