#divWeatherMain{
    /* background-image: url("../../assets/kristi-martin--c017F-rzew-unsplash.jpg"); */
    display:block;
    opacity: 0.9;
    background-size: cover;
    border-radius:10px;
    padding-top: 12px;
    padding-bottom: 42px;
    min-height: 500px;
    height: auto;
    width: auto;
    min-width: 420px;
    /* background: rgb(0,0,0); */
    background: linear-gradient(190deg, pink, #512DA8);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 90px;
    box-shadow: 3px 3px 5px  #1A1A1A;
}
.weatherrow{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.button button{
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #512DA8;
    color: white;
    outline: 0 none;  
}

.icon-center {
    display: block;
    margin: auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
.active{
    background: #9575CD;
    text-decoration: none;
}
@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{ margin-left: 65px;}
}
input{
    margin-top: 6px;
}